USE [master]
GO
/****** Object:  Database [Healthy]    Script Date: 15  /01  /2018 11:08:16 CH ******/
CREATE DATABASE [Healthy]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Healthy', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Healthy.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Healthy_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Healthy_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Healthy].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Healthy]
GO
/****** Object:  Table [dbo].[HealthyInformation]    Script Date: 15  /01  /2018 11:08:17 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HealthyInformation](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[HeartBeat] [int] NOT NULL,
	[Oxy] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
 CONSTRAINT [PK_HealthyInformation] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 15  /01  /2018 11:08:17 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NULL,
	[Password] [nvarchar](150) NULL,
	[Email] [nvarchar](150) NULL,
	[Mobile] [nvarchar](150) NULL,
	[Address] [nvarchar](max) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserRelationship]    Script Date: 15  /01  /2018 11:08:17 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRelationship](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](150) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[Phone] [nvarchar](150) NOT NULL,
	[UserID] [int] NOT NULL,
 CONSTRAINT [PK_UserRelationship] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[HealthyInformation] ON 

INSERT [dbo].[HealthyInformation] ([ID], [HeartBeat], [Oxy], [UserID], [CreateDate]) VALUES (1, 60, 60, 1, CAST(N'2017-12-29 11:32:38.483' AS DateTime))
INSERT [dbo].[HealthyInformation] ([ID], [HeartBeat], [Oxy], [UserID], [CreateDate]) VALUES (2, 70, 7, 1, CAST(N'2017-12-29 11:32:38.483' AS DateTime))
INSERT [dbo].[HealthyInformation] ([ID], [HeartBeat], [Oxy], [UserID], [CreateDate]) VALUES (3, 1, 90, 1, CAST(N'2017-12-29 12:18:09.020' AS DateTime))
SET IDENTITY_INSERT [dbo].[HealthyInformation] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([ID], [UserName], [Password], [Email], [Mobile], [Address]) VALUES (1, N'admin', N'AQAAAAEAACcQAAAAEN4RCXrqTT0vugMpAP1kAwVhGfWrs424CH8KBk81lBLOdeWpcX1k20IkstoU1+Y7FA==', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[User] OFF
ALTER TABLE [dbo].[HealthyInformation]  WITH CHECK ADD  CONSTRAINT [FK_User_Information] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[HealthyInformation] CHECK CONSTRAINT [FK_User_Information]
GO
ALTER TABLE [dbo].[UserRelationship]  WITH CHECK ADD  CONSTRAINT [FK_UserRelationship_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[UserRelationship] CHECK CONSTRAINT [FK_UserRelationship_User]
GO
USE [master]
GO
