
.wrapper850{
    max-width:850px;
    margin:0 auto;
    overflow: hidden;
}
.wrapper850 .website-group .col-md-3 span {
    padding-left: 7px;
}
.footer_hotline_body a {
    color: #2292d0;
}
.navbar-nav:not(.sm-collapsible) ul .caret {
	position:absolute;
	right:0;
	margin-top:6px;
	margin-right:15px;
	border-top:4px solid transparent;
	border-bottom:4px solid transparent;
	border-left:4px dashed
}
.navbar-nav:not(.sm-collapsible) ul a.has-submenu {
	padding-right:30px
}
.navbar-nav.sm-collapsible .caret,.navbar-nav.sm-collapsible ul .caret {
	position:absolute;
	right:0;
	margin:-3px 15px 0 0;
	padding:0;
	width:32px;
	height:26px;
	line-height:24px;
	text-align:center;
	border-width:1px;
	border-style:solid
}
.navbar-nav.sm-collapsible .caret:before {
	content:'+';
	font-family:monospace;
	font-weight:bold
}
.navbar-nav.sm-collapsible .open>a>.caret:before {
	content:'-'
}
.navbar-nav.sm-collapsible a.has-submenu {
	padding-right:50px
}
.navbar-nav.sm-collapsible[data-sm-skip-collapsible-behavior] .caret,.navbar-nav.sm-collapsible[data-sm-skip-collapsible-behavior] ul .caret {
	position:static;
	margin:0 0 0 2px;
	padding:0;
	width:0;
	height:0;
	border-top:4px dashed;
	border-right:4px solid transparent;
	border-bottom:0;
	border-left:4px solid transparent
}
.navbar-nav.sm-collapsible[data-sm-skip-collapsible-behavior] .caret:before {
	content:''!important
}
.navbar-nav.sm-collapsible[data-sm-skip-collapsible-behavior] a.has-submenu {
	padding-right:15px
}
.navbar-nav span.scroll-up,.navbar-nav span.scroll-down {
	position:absolute;
	display:none;
	visibility:hidden;
	height:20px;
	overflow:hidden;
	text-align:center
}
.navbar-nav span.scroll-up-arrow,.navbar-nav span.scroll-down-arrow {
	position:absolute;
	top:-2px;
	left:50%;
	margin-left:-8px;
	width:0;
	height:0;
	overflow:hidden;
	border-top:7px dashed transparent;
	border-right:7px dashed transparent;
	border-bottom:7px solid;
	border-left:7px dashed transparent
}
.navbar-nav span.scroll-down-arrow {
	top:6px;
	border-top:7px solid;
	border-right:7px dashed transparent;
	border-bottom:7px dashed transparent;
	border-left:7px dashed transparent
}
.navbar-nav.sm-collapsible ul .dropdown-menu>li>a,.navbar-nav.sm-collapsible ul .dropdown-menu .dropdown-header {
	padding-left:35px
}
.navbar-nav.sm-collapsible ul ul .dropdown-menu>li>a,.navbar-nav.sm-collapsible ul ul .dropdown-menu .dropdown-header {
	padding-left:45px
}
.navbar-nav.sm-collapsible ul ul ul .dropdown-menu>li>a,.navbar-nav.sm-collapsible ul ul ul .dropdown-menu .dropdown-header {
	padding-left:55px
}
.navbar-nav.sm-collapsible ul ul ul ul .dropdown-menu>li>a,.navbar-nav.sm-collapsible ul ul ul ul .dropdown-menu .dropdown-header {
	padding-left:65px
}
.navbar-nav .dropdown-menu>li>a {
	white-space:normal
}
.navbar-nav ul.sm-nowrap>li>a {
	white-space:nowrap
}
.navbar-nav.sm-collapsible ul.sm-nowrap>li>a {
	white-space:normal
}
.navbar-right ul.dropdown-menu {
	left:0;
	right:auto
}
.navbar-nav:not(.sm-collapsible) ul .caret {
	position:absolute;
	right:0;
	margin-top:6px;
	margin-right:15px;
	border-top:4px solid transparent;
	border-bottom:4px solid transparent;
	border-left:4px dashed
}
.navbar-nav:not(.sm-collapsible) ul a.has-submenu {
	padding-right:30px
}
.navbar-nav.sm-collapsible .caret,.navbar-nav.sm-collapsible ul .caret {
	position:absolute;
	right:0;
	margin:-3px 15px 0 0;
	padding:0;
	width:32px;
	height:26px;
	line-height:24px;
	text-align:center;
	border-width:1px;
	border-style:solid
}
.navbar-nav.sm-collapsible .caret:before {
	content:'+';
	font-family:monospace;
	font-weight:bold
}
.navbar-nav.sm-collapsible .open>a>.caret:before {
	content:'-'
}
.navbar-nav.sm-collapsible a.has-submenu {
	padding-right:50px
}
.navbar-nav.sm-collapsible[data-sm-skip-collapsible-behavior] .caret,.navbar-nav.sm-collapsible[data-sm-skip-collapsible-behavior] ul .caret {
	position:static;
	margin:0 0 0 2px;
	padding:0;
	width:0;
	height:0;
	border-top:4px dashed;
	border-right:4px solid transparent;
	border-bottom:0;
	border-left:4px solid transparent
}
.navbar-nav.sm-collapsible[data-sm-skip-collapsible-behavior] .caret:before {
	content:''!important
}
.navbar-nav.sm-collapsible[data-sm-skip-collapsible-behavior] a.has-submenu {
	padding-right:15px
}
.navbar-nav span.scroll-up,.navbar-nav span.scroll-down {
	position:absolute;
	display:none;
	visibility:hidden;
	height:20px;
	overflow:hidden;
	text-align:center
}
.navbar-nav span.scroll-up-arrow,.navbar-nav span.scroll-down-arrow {
	position:absolute;
	top:-2px;
	left:50%;
	margin-left:-8px;
	width:0;
	height:0;
	overflow:hidden;
	border-top:7px dashed transparent;
	border-right:7px dashed transparent;
	border-bottom:7px solid;
	border-left:7px dashed transparent
}
.navbar-nav span.scroll-down-arrow {
	top:6px;
	border-top:7px solid;
	border-right:7px dashed transparent;
	border-bottom:7px dashed transparent;
	border-left:7px dashed transparent
}
.navbar-nav.sm-collapsible ul .dropdown-menu>li>a,.navbar-nav.sm-collapsible ul .dropdown-menu .dropdown-header {
	padding-left:35px
}
.navbar-nav.sm-collapsible ul ul .dropdown-menu>li>a,.navbar-nav.sm-collapsible ul ul .dropdown-menu .dropdown-header {
	padding-left:45px
}
.navbar-nav.sm-collapsible ul ul ul .dropdown-menu>li>a,.navbar-nav.sm-collapsible ul ul ul .dropdown-menu .dropdown-header {
	padding-left:55px
}
.navbar-nav.sm-collapsible ul ul ul ul .dropdown-menu>li>a,.navbar-nav.sm-collapsible ul ul ul ul .dropdown-menu .dropdown-header {
	padding-left:65px
}
.navbar-nav .dropdown-menu>li>a {
	white-space:normal
}
.navbar-nav ul.sm-nowrap>li>a {
	white-space:nowrap
}
.navbar-nav.sm-collapsible ul.sm-nowrap>li>a {
	white-space:normal
}
.navbar-right ul.dropdown-menu {
	left:0;
	right:auto
}
.navbar-nav:not(.sm-collapsible) ul .caret {
	position:absolute;
	right:0;
	margin-top:6px;
	margin-right:15px;
	border-top:4px solid transparent;
	border-bottom:4px solid transparent;
	border-left:4px dashed
}
.navbar-nav:not(.sm-collapsible) ul a.has-submenu {
	padding-right:30px
}
.navbar-nav.sm-collapsible .caret,.navbar-nav.sm-collapsible ul .caret {
	position:absolute;
	right:0;
	margin:-3px 15px 0 0;
	padding:0;
	width:32px;
	height:26px;
	line-height:24px;
	text-align:center;
	border-width:1px;
	border-style:solid
}
.navbar-nav.sm-collapsible .caret:before {
	content:'+';
	font-family:monospace;
	font-weight:bold
}
.navbar-nav.sm-collapsible .open>a>.caret:before {
	content:'-'
}
.navbar-nav.sm-collapsible a.has-submenu {
	padding-right:50px
}
.navbar-nav.sm-collapsible[data-sm-skip-collapsible-behavior] .caret,.navbar-nav.sm-collapsible[data-sm-skip-collapsible-behavior] ul .caret {
	position:static;
	margin:0 0 0 2px;
	padding:0;
	width:0;
	height:0;
	border-top:4px dashed;
	border-right:4px solid transparent;
	border-bottom:0;
	border-left:4px solid transparent
}
.navbar-nav.sm-collapsible[data-sm-skip-collapsible-behavior] .caret:before {
	content:''!important
}
.navbar-nav.sm-collapsible[data-sm-skip-collapsible-behavior] a.has-submenu {
	padding-right:15px
}
.navbar-nav span.scroll-up,.navbar-nav span.scroll-down {
	position:absolute;
	display:none;
	visibility:hidden;
	height:20px;
	overflow:hidden;
	text-align:center
}
.navbar-nav span.scroll-up-arrow,.navbar-nav span.scroll-down-arrow {
	position:absolute;
	top:-2px;
	left:50%;
	margin-left:-8px;
	width:0;
	height:0;
	overflow:hidden;
	border-top:7px dashed transparent;
	border-right:7px dashed transparent;
	border-bottom:7px solid;
	border-left:7px dashed transparent
}
.navbar-nav span.scroll-down-arrow {
	top:6px;
	border-top:7px solid;
	border-right:7px dashed transparent;
	border-bottom:7px dashed transparent;
	border-left:7px dashed transparent
}
.navbar-nav.sm-collapsible ul .dropdown-menu>li>a,.navbar-nav.sm-collapsible ul .dropdown-menu .dropdown-header {
	padding-left:35px
}
.navbar-nav.sm-collapsible ul ul .dropdown-menu>li>a,.navbar-nav.sm-collapsible ul ul .dropdown-menu .dropdown-header {
	padding-left:45px
}
.navbar-nav.sm-collapsible ul ul ul .dropdown-menu>li>a,.navbar-nav.sm-collapsible ul ul ul .dropdown-menu .dropdown-header {
	padding-left:55px
}
.navbar-nav.sm-collapsible ul ul ul ul .dropdown-menu>li>a,.navbar-nav.sm-collapsible ul ul ul ul .dropdown-menu .dropdown-header {
	padding-left:65px
}
.navbar-nav .dropdown-menu>li>a {
	white-space:normal
}
.navbar-nav ul.sm-nowrap>li>a {
	white-space:nowrap
}
.navbar-nav.sm-collapsible ul.sm-nowrap>li>a {
	white-space:normal
}
.navbar-right ul.dropdown-menu {
	left:0;
	right:auto
}
.hot_line_scroll_text {
	padding-top:24px;
	height:74px;
	background-color:#9bcdff;
	font-size:21px;
	display:inline-block;
	padding-right:30px;
	color:#fff;
	display:none
}
.non_margin_right {
	margin-right:0!important
}
.hotline_scroll img {
	float:left;
	width:100%;
	height:74px;
	border:none!important
}
.active_hotline img {
	background:url(/Content/Images/icon/Hotline1.png);
	height:74px;
	border:none
}
.active_hotline {
	width:245px!important
}
.active_hotline .hot_line_scroll_text {
	display:inline-block
}
#back-top {
	height:74px;
	width:72px;
	position:fixed;
	right:0;
	top:250px;
	border-color:#fff;
	background-color:transparent;
	border:none;
	padding:0;
	float:left;
	width:72px
}
.hotline_scroll {
	font-family:UTMHanzel;
	font-size:14px;
	color:#fff;
	color:#000;
	width:73px;
	height:74px;
	float:left;
	border:none
}
.link_footer_img {
	padding-top:10px
}
.wrapper_footer {
	float:left;
	width:100%;
	padding-top:20px
}
.link_footer {
	float:left
}
.link_footer_text {
	text-align:center;
	font-family:UTMHanzel;
	font-size:13px;
	color:#a7a9ac
}
.link_footer_img a {
	padding-right:10px
}
.footer_hotline_img {
    float: left;
    padding-right: 10px;
    padding-left: 30px;
}

.footer_hotline_img img {
    float: right;
}

.footer_hotline {
	color:#2292d0;
	font-family:UTMHanzel;
	font-size:17px;
	background-color:#fff;
	float:left;
	width: 100%;
}
.footer_hotline_text {
	text-align:right;
	float: left;
}
.footer_hotline_title {
}
.footer_hotline_body {
	font-size:23px
}
.banner-image {
	width:100%;
	overflow:hidden
}
.banner-image:before {
	content:"";
	display:block;
	margin-top:30%
}
.banner-image a {
	margin:0;
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	overflow:hidden
}
.banner-image a img {
	width:100%;
	/*height:100%;*/
	object-fit:cover
}
.current-username a {
	color:#333!important;
	cursor:pointer
}
.sm {
	position:relative;
	z-index:9999
}
.active_menu_mobile {
	display:none
}
.border_menu_home {
	font-family:none!important;
	font-size:19px!important;
	color:#fff;
	padding:0!important
}
.sm,.sm ul,.sm li {
	display:block;
	list-style:none;
	padding:0;
	line-height:normal;
	direction:ltr;
	text-align:left;
	-webkit-tap-highlight-color:rgba(0,0,0,0)
}
.sm-rtl,.sm-rtl ul,.sm-rtl li {
	direction:rtl;
	text-align:right
}
.sm>li>h1,.sm>li>h2,.sm>li>h3,.sm>li>h4,.sm>li>h5,.sm>li>h6 {
	margin:0;
	padding:0
}
.sm ul {
	display:none
}
.sm li,.sm a {
	position:relative
}
.sm li a {
	display:block
}
.sm a.disabled {
	cursor:not-allowed
}
.sm:after {
	content:" ";
	display:block;
	height:0;
	font:0/0 serif;
	clear:both;
	visibility:hidden;
	overflow:hidden
}
.sm,.sm *,.sm *:before,.sm *:after {
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box
}
body {
	margin:0;
	padding:0;
	background-color:#f2f0f0
}
#main {
	font-family:UTMNeoSansIntel;
	position:relative
}
.wrapper {
	max-width:1130px;
	margin:0 auto;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	height:100%
}
.header-wrapper {
	max-width:1130px;
	margin:0 auto;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	height:100%
}
.wrapper:before,.wrapper:after {
	display:table;
	content:" "
}
.wrapper:after {
	clear:both
}
header {
	z-index:50;
	width:100%;
	position:relative;
	overflow:visible;
    background-color: black;
}
#header {
	width:100%;
	float:left;
	display:block;
	position:relative;
	border-bottom:solid 1px #fff;
	height:58px;
	-webkit-box-shadow:0 2px 10px 0 rgba(128,128,128,.52);
	-moz-box-shadow:0 2px 10px 0 rgba(128,128,128,.52);
	box-shadow:0 2px 10px 0 rgba(79,79,79,.5);
	overflow:visible;
	z-index:1000
}
.header-background {
	background:#f6f5f4;
	background:-webkit-linear-gradient(#fff,#e5e3e2);
	background:-o-linear-gradient(#fff,#e5e3e2);
	background:-moz-linear-gradient(#fff,#e5e3e2);
	background:linear-gradient(#fff,#e5e3e2)
}
.main-header {
	display:block
}
body {
	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	transition:all .3s ease;
	position:relative;
	right:0
}
body.push {
	right:250px
}
.main-menu {
	padding:0 30px
}

    .menu_title {
        margin-left: -30px;
        margin-right: -30px;
    }

#nav-menu {
	width:100%;
	display:none
}
#nav-menu.open {
	right:250px;
	background-color:#eee
}
#nav-mobile {
	display:none
}
.current-username {
	font-family:UTMNeoSansIntelBold;
	font-size:18px;
	color:#000;
	margin-bottom:25px
}
.current-username span {
	padding-bottom:20px;
	padding-left:20px;
	padding-right:20px;
	display:block;
	border-bottom:1px solid #ccc
}
.sm-clean {
	background:#eee;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px
}
.sm-clean a {
	padding:14px 20px;
	padding-right:58px;
	color:#555;
	font-family:"Lucida Sans Unicode","Lucida Sans","Lucida Grande",Arial,sans-serif;
	font-size:14px;
	font-weight:normal;
	line-height:17px;
	text-decoration:none
}
.sm-clean a:hover,.sm-clean a:focus,.sm-clean a:active,.sm-clean a.current {
}
.sm-clean>li>a {
	text-transform:uppercase
}
.sm-clean a.disabled {
	color:#bbb
}
.sm-clean a span.sub-arrow {
	position:absolute;
	top:50%;
	margin-top:-17px;
	left:auto;
	right:4px;
	width:34px;
	height:34px;
	overflow:hidden;
	font:bold 16px/34px monospace!important;
	text-align:center;
	text-shadow:none;
	background:rgba(255,255,255,.5);
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px
}
.sm-clean a.highlighted span.sub-arrow:before {
	display:block;
	content:'-'
}
.sm-clean li {
}
.main-menu>li:first-child {
	border-top:0
}
.logo {
	overflow:hidden;
	text-decoration:none;
	display:inline-block;
	margin-top:12px;
	margin-bottom:8px
}
.logo a,.logo a:hover {
	text-decoration:none
}
.logo img {
	height:20px;
	width:auto
}
.logo div {
	display:inline-block
}
.logo-img {
	padding-right:10px;
	position:relative;
	border-right:solid 1px #c5c3c3
}
.brand {
	text-transform:uppercase;
	vertical-align:middle;
	padding-left:5px
}
.brand .name {
	color:#464748;
	font-family:'UTMHanzel';
	font-size:10px;
	display:block
}
.brand .description {
	color:#8f9091;
	font-family:'UTMAvo';
	font-size:8px;
	display:block
}
.main-menu a {
	font-family:'UTMNeoSansIntel'
}
.sm ul {
	margin-left:10px
}
#mobile-menu {
	margin-top:14px;
	margin-bottom:18px;
	float:right;
	display:block;
	cursor:pointer
}
#mobile-menu i {
	color:#1e5790;
	font-size:25px
}
#popup-nav {
	width:100%;
	background:#fff;
	display:none;
	border-bottom:solid 1px #e5e5e5;
	padding-bottom:15px;
	position:relative
}
.right-bordered {
	border-right:solid 1px #c5c3c3
}
.menu-desktop {
	display:none!important
}
.menu-block {
	background-color:#fff;
	border-radius:5px;
	margin-bottom:15px
}
.menu-block li {
	border-top:1px solid #ccc
}
@media only screen and (min-width:550px) {
	.brand .name {
		font-size:18px
	}
	.brand .description {
		font-size:12px
	}
	.logo {
		margin-top:15px;
		margin-bottom:15px
	}
	.logo img {
		height:auto
	}
	#header #mobile-menu {
		margin-top:12px;
		margin-bottom:18px
	}
	#header #mobile-menu i {
		font-size:45px
	}
	#mobile-menu span {
		height:8px
	}
	#header {
		height:78px
	}
}

@media only screen and (min-width: 1021px) {
    #header{
        height:auto;
    }

    header {
        overflow: initial;
    }

    #nav-mobile {
        display: none !important;
    }

    body {
        right: 0 !important;
    }

    .main-header {
        display: inline-block;
    }

    .sm-clean > li > ul {
        position: absolute;
        width: 12em;
    }

    .sm-clean li {
        float: left;
    }

    .sm-clean ul li {
        float: none;
    }

    .sm-clean a {
        white-space: nowrap;
    }

    .sm-clean ul a {
        white-space: normal;
    }

    .sm-clean .sm-nowrap > li > a,
    .sm-clean .sm-nowrap > li > :not(ul) a {
    }

    .sm-clean {
        background: none;
        -moz-border-radius: 100px;
        -webkit-border-radius: 100px;
        border-radius: 100px;
    }

        .sm-clean a {
            padding: 8px 9px;
            -moz-border-radius: 0 !important;
            -webkit-border-radius: 0;
            border-radius: 5px !important;
        }

    .main-menu > li > a:hover,
    .main-menu > li > a:focus,
    .main-menu > li > a:active,
    .main-menu > li > a.highlighted,
    .main-menu > li > a.current {
        background-color: #014a99;
        color: #fff !important;
        font-weight: normal;
    }

    .main-menu > li > a.inactive-highlight {
        /* background-color: transparent; */
        color: #333;
        font-weight: normal;
    }

    .main-menu a:hover .sub-arrow,
    .main-menu a:focus .sub-arrow,
    .main-menu a:active .sub-arrow,
    .main-menu a.highlighted .sub-arrow,
    .main-menu a.current .sub-arrow {
        border-color: #fff transparent transparent transparent;
    }

    .sm-clean a.disabled {
        color: #bbb;
    }

    .sm-clean a span.sub-arrow {
        top: 50%;
        margin-top: -2px;
        right: 12px;
        width: 0;
        height: 0;
        border-width: 4px;
        border-style: solid dashed dashed dashed;
        border-color: #555 transparent transparent transparent;
        background: transparent;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
        display: none;
    }

    .sm-clean a.highlighted span.sub-arrow:before {
        display: none;
    }

    .sm-clean li {
        border-top: 0;
    }

    .main-menu > li > a.has-submenu:hover::after,
    .main-menu > li > a.has-submenu:active::after,
    .main-menu > li > a.has-submenu:focus::after,
    .main-menu > li > a.has-submenu.highlighted::after {
        content: '';
        position: absolute;
        top: 16px;
        left: calc(50% - 9px);
        width: 0;
        height: 0;
        overflow: hidden;
        border-width: 9px;
        border-style: dashed dashed solid dashed;
        border-color: transparent transparent #bfd8f1 transparent;
    }

    #up-menu > li > a.has-submenu:hover::before,
    #up-menu > li > a.has-submenu:active::before,
    #up-menu > li > a.has-submenu:focus::before,
    #up-menu > li > a.has-submenu.highlighted::before {
        content: '';
        position: absolute;
        top: 17px;
        left: calc(50% - 2px);
        width: 0;
        height: 0;
        overflow: hidden;
        border-width: 4px;
        border-style: dashed dashed solid dashed;
        border-color: transparent transparent #fff transparent;
    }

    .sm-clean > li > ul {
        padding: 5px 0;
        -moz-border-radius: 5px !important;
        /* -webkit-border-radius: 5px; */
        /* border-radius: 5px!important; */
        -moz-box-shadow: 0 5px 9px rgba(0, 0, 0, .2);
        /* -webkit-box-shadow: 0 5px 9px rgba(0, 0, 0, .2); */
        /* box-shadow: 0 5px 9px rgba(0, 0, 0, .2); */
    }

    .sm-clean ul a.disabled {
        background: #fff;
        color: #ccc;
    }

    .sm-clean ul a.has-submenu {
        padding-right: 20px;
    }

    .sm-clean.sm-vertical a:hover,
    .sm-clean.sm-vertical a:focus,
    .sm-clean.sm-vertical a:active,
    .sm-clean.sm-vertical a.highlighted {
        background: #fff;
    }

    .sm-clean.sm-vertical a.disabled {
        background: #eee;
    }

    .sm-clean.sm-vertical a span.sub-arrow {
        right: 8px;
        top: 50%;
        margin-top: -5px;
        border-width: 5px;
        border-style: dashed dashed dashed solid;
        border-color: transparent transparent transparent #555;
    }

    .sm-clean.sm-vertical > li > ul:before,
    .sm-clean.sm-vertical > li > ul:after {
        display: none;
    }

    .sm-clean.sm-vertical ul a {
        padding: 10px 20px;
    }

        .sm-clean.sm-vertical ul a:hover,
        .sm-clean.sm-vertical ul a:focus,
        .sm-clean.sm-vertical ul a:active,
        .sm-clean.sm-vertical ul a.highlighted {
            background: #eee;
        }

        .sm-clean.sm-vertical ul a.disabled {
            background: #fff;
        }

    #nav-menu {
        display: block !important;
        float: right;
        position: relative;
        min-width: 400px;
        width: auto;
        right: 0 !important;
        margin: 0;
        overflow: initial;
        z-index: 100;
    }

    .main-menu {
        margin-top: 34px;
        padding: 0;
    }

        .main-menu > li > a {
            font-size: 14px;
            font-family: 'UTMNeoSansIntel';
            color: #333333;
        }

        .main-menu > li > ul a {
            color: #264d74;
            font-size: 14px;
            display: initial;
            padding: 0;
        }

    .sub-menu-header {
        font-family: UTMNeoSansIntelBold;
        color: #01264b;
    }

    #mobile-menu {
        display: none;
    }

    #up-menu {
        background: #484848;
        position: absolute;
        top: 0;
        right: 0;
        border-radius: initial;
    }

        #up-menu a {
            text-transform: uppercase;
            padding: 3px 0;
        }

        #up-menu li {
            padding: 0 10px;
        }

            #up-menu li:first-child {
                margin-left: 0;
            }

        #up-menu .hts a {
            color: #fd9b44;
            cursor:pointer;
        }

        #up-menu li.hts a:after {
            content: "\f0d7";
            font-family: FontAwesome;
            color: #fff;
            margin-left: 3px;
        }

        #up-menu .language {
            background-color: #004b98;
        }

    .language:first-of-type {
        border-right: solid 1px #c5c3c3;
    }

    #up-menu .language.active a {
        color: #fff;
    }

    .main-menu ul.sub-menu {
        background-color: #bfd8f1;
        min-width: 250px !important;
    }

    #up-menu ul.sub-menu {
        background-color: #fff;
        max-width: 110px !important;
        min-width: 110px !important;
        left: calc(50% - 50px) !important;
    }

        #up-menu ul.sub-menu li {
            text-align: center;
        }

    .sub-menu-col {
        width: 100%;
        float: left;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        padding: 15px 20px 0 20px;
        position: relative;
    }

    .sub-menu > li > div {
        margin-bottom: 20px;
    }

    .main-menu .sub-menu-col > a {
        font-family: UTMNeoSansIntelBold;
        color: #01264b;
    }

    .sub-menu a,
    .sub-menu a:hover,
    .sub-menu a:focus,
    .sub-menu a:active,
    .sub-menu a.highlighted {
        font-weight: bold;
    }

    .sub-menu ul {
        display: block;
    }

        .sub-menu ul a {
            color: #264d74;
            font-weight: normal;
        }

        .sub-menu ul li:before {
            content: 'ï„…';
            font-family: FontAwesome;
            margin-left: -10px;
        }

    sub-menu-mobile {
        display: none;
    }

    .menu-desktop {
        display: block !important;
    }

    .menu-mobile {
        display: none !important;
    }

    .list-website {
        border-top: solid 1px #c5c3c3;
    }

        .list-website > div:not(:first-child):not(:last-child) {
            /*border-left: solid 1px #c5c3c3;
            border-right: solid 1px #c5c3c3;*/
        }

        .list-website a {
            text-decoration: none;
        }

    .website-group {
        padding-top: 15px;
        padding-bottom: 5px;
    }

        .website-group span {
            color: #741a08;
            font-family: 'UTMNeoSansIntel';
            font-size: 13px;
            font-weight: bold;
            padding-left: 20px;
        }

    .hts-links {
        color: #00519b;
        font: 11px "seogeo ui", tahoma;
        padding-left: 5px;
        vertical-align: top;
        position: relative;
    }

        .hts-links:before {
            content: "\f0da";
            font-family: FontAwesome;
            top: 2px;
            left: 0;
            position: absolute;
        }

    .logo-col > div {
        padding: 5px 0;
    }

        .logo-col > div:first-child:not(:last-child) {
            border-bottom: dotted 1px #c5c3c3;
        }

    .hts a {
        font-size: 10px;
        font-family: Tahoma;
    }

    .user-info {
        background-color: #004b97;
        font-family: UTMNeoSansIntelBold;
    }

        .user-info a {
            font-family: Tahoma;
            font-size: 10px;
        }

        .user-info > a {
            color: #fff;
        }
}
@media only screen and (max-width:1020px) {
	#popup-nav {
		display:none!important
	}
	.main-menu a {
		font-family:UTMNeoSansIntelBold;
		font-size:18px;
		color:#004b98
	}
	.header-wrapper .main-header {
		padding:0 30px
	}
}
@media only screen and (max-width:769px) {
	.wrapper,.header-wrapper .main-header {
		padding:0 15px
	}
}
@media only screen and (max-width:550px) {
}
@media only screen and (max-width:480px) {
	.main-menu a {
		font-size:16px
	}
	.header-wrapper .main-header {
		padding:0 5px
	}
}
.wrap {
	min-height:100%;
	height:auto;
	margin:0 auto -250px;
	padding:0 0 250px
}
footer {
	min-height:250px;
	padding-top:40px;
	padding-bottom:60px;
	position:relative;
	background-color:#fff
}
.info h4 {
	font-family:UTMHanzel;
	text-transform:uppercase;
	color:#606161;
	font-size:12px;
	margin:0;
	padding:0;
	padding-bottom:10px
}
footer {
	font-size:12px
}
.contact-info {
	float:left;
	font-family:UTMAvo;
	color:#7e7f80;
	width:47%
}

.contact-info a {
	font-family:UTMAvo;
	color:#7e7f80;
}
.copy-right {
	float:right;
	font-family:Arial;
	display: inline-block;
}
.copy-right span {
	display:block;
	text-align:right;
	color:#afadad;
}
@media only screen and (max-width:992px) {
	footer {
		padding-left:20px;
		padding-right:20px;
		padding-bottom:40px
	}
    .link_footer {
	    float:left;
	    font-family:UTMAvo;
	    color:#7e7f80;
	    margin-top: 10px;
	   }
    .footer_hotline{
        float:right;
        margin-top: 10px;
    }

	.info h4 {
		font-size:18px;
		margin-top:35px
	}
	.contact-info {
		font-size:16px;
        width:100%;
	}

    .contact-info a{
        font-size:16px;
    }
	
	.copy-right span {
		display:initial;
		text-align:initial;
	}
}
.middle_text>div {
	display:table-cell;
	vertical-align:middle
}
.middle_text {
	display:table;
	height:100%;
	width:100%
}

.main_title, .menu_title {
    height: 100px;
    background-color: #1e5790;
    box-shadow: inset 0px 5px 0px rgba(88, 91, 95, 0.42);
    margin-bottom: 10px;
    position: relative;
}
.main_title.active {
    background: none;
    box-shadow: none;
    background: linear-gradient(to bottom,transparent,#0f0e0e80);
    position:relative;
    height:100%;
    overflow-x: hidden;
}
.img-banner-wrapper{
    position:absolute;
    top:0;
    width:100%;
    height:100%;
}

.groupname {
	font-size:22px;
	color:#fff;
	font-family:UTMHanzel;
	padding-left:35px;
	margin:0
    text-transform: uppercase;
}
.groupname_bottom {
	bottom:22px;
	position:absolute
}
.imgContent {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.imgContent:before {
    content: "";
    margin-top: 6%;
    display: block;
}
.imgContent .ratio-30 {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
}
.imgContent .ratio-30 img {
    width: 100%;
}
.menu-it {
	padding-right:5px;
	float:left
}
.menu-it>.input-group {
	background:#fff;
	border-radius:4px
}
.filter-input {
	font-family:UTMNeoSansIntel;
	font-size:14px;
	border:none!important;
	background:#fff;
	color:#333;
	height:40px!important;
	border-radius:0!important
}
.filter-input .select2-selection__rendered {
	line-height:40px!important
}
.txtsearch-filter {
	width:33%
}
.dropdown_filter_container {
	width:25%
}
.dropdown_filter_container .select2:after {
	position:absolute;
	content:"\f107";
	display:inline-block;
	box-sizing:border-box;
	color:#333;
	background-color:#fff;
	margin-left:-17px;
	pointer-events:none;
	font-family:FontAwesome;
	font-size:20px;
	right:0;
	bottom:0;
	vertical-align:bottom;
	padding:0;
	margin:0;
	height:100%;
	padding-right:5px;
	line-height:40px
}
.filter-dropdown_container .select2-dropdown {
	border:none;
	-webkit-box-shadow:0 1px 5px 0 rgba(0,0,0,.2);
	-moz-box-shadow:0 1px 5px 0 rgba(0,0,0,.2);
	box-shadow:0 1px 5px 0 rgba(0,0,0,.2);
	font-family:UTMNeoSansIntel
}
.filter-dropdown_container .select2-search--dropdown {
	padding:13px
}
.filter-dropdown_container .select2-container--default .select2-search--dropdown .select2-search__field {
	border:1px solid #e3e3e3
}
.filter-dropdown_container .select2-search__field::-webkit-input-placeholder {
	color:#ccc
}
.filter-dropdown_container .select2-search__field:-moz-placeholder {
	color:#ccc
}
.filter-dropdown_container .select2-search__field::-moz-placeholder {
	color:#ccc
}
.filter-dropdown_container .select2-search__field:-ms-input-placeholder {
	color:#ccc
}
.search_bt {
	width:17%
}
.search_recruitment_bt {
	background:#c80404;
	background:-o-linear-gradient(#dc0707,#b40202);
	background:-moz-linear-gradient(#dc0707,#b40202);
	background:linear-gradient(#dc0707,#b40202);
	color:#fff;
	border:none;
	margin:auto;
	padding-bottom:3.5px;
	font-family:utmhanzel;
	height:40px;
	font-size:18px;
	text-transform: uppercase;
}
.clickable {
	cursor:pointer
}
.hidden_inputfile {
	opacity:0;
	position:absolute
}

.btn-image{
    border:none;
    padding:0;
    background: transparent;
}

@media only screen and (max-width:769px) {
	.txtsearch-filter {
		width:100%
	}
    .footer_hotline_img {
   padding-left: 0; 
    }
	.dropdown_filter_container {
		width:50%
	}
	.search_bt {
		width:100%
	}
	.menu-it {
		margin-bottom:5px
	}
	.contact-info {
		width:100%
	}
    .copy-right {
        float:left;
		margin-top:20px;
		font-size:15px;
        width:100%;
	}
	.link_footer {
		float:left;
		width:100%;
		display:block;
		padding-top:20px;
		padding-bottom:20px
	}
	.link_footer_text {
		text-align:left;
		font-family:UTMHanzel;
		font-size:13px;
		color:#a7a9ac
	}
    .footer_hotline_title {
    text-align: left;
}
}

@media only screen and (max-width: 481px) {
    .main_title, .menu_title {
        margin-bottom: 15px;
    }

    .groupname {
        font-size: 16px;
        padding-left: 15px;
    }

    .menu-it {
        width: 100%;
        margin-bottom: 5px;
    }
}


/* tai - 26/12 */
.wrapper850 .website-group .col-md-3 span {
    padding-left: 0;
}
header .list-website .logo-col:first-child,
header .website-group  .col-md-3:first-child {
    max-width: 215px;
}

header .list-website > .col-md-6{
    max-width: 425px;
}

header .list-website .col-md-6 .col-md-6:nth-child(2){
    padding-left: 20px;
}
header .list-website .col-md-3:nth-child(3){
    padding-left: 30px;
}

header .list-website > div:nth-child(2):before {
    content: "";
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(to top,#c5c3c3 50%,rgba(197,195,195,.15)) 1 100%;
    -webkit-border-image: -webkit-gradient(linear,0 100%,0 0,from(#c5c3c3) 50%,to(rgba(197,195,195,.15))) 1 100%;
    -webkit-border-image: -webkit-linear-gradient(bottom,#c5c3c3 50%,rgba(197,195,195,.15)) 1 100%;
    -moz-border-image: -moz-linear-gradient(bottom,#c5c3c3 50%,rgba(197,195,195,.15)) 1 100%;
    -o-border-image: -o-linear-gradient(bottom,#c5c3c3 50%,rgba(197,195,195,.15)) 1 100%;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 15px;
    position: absolute;
}

header .list-website> div:nth-child(2)>div:nth-child(2):before {
    content: "";
    border-width: 0;
    border-left-width: 1px;
    border-style: solid;
    border-image: linear-gradient(to top,#c5c3c3 60%,rgba(197,195,195,.15)) 1 100%;
    -webkit-border-image: -webkit-gradient(linear,0 100%,0 0,from(#c5c3c3) 60%,to(rgba(197,195,195,.15))) 1 100%;
    -webkit-border-image: -webkit-linear-gradient(bottom,#c5c3c3 60%,rgba(197,195,195,.15)) 1 100%;
    -moz-border-image: -moz-linear-gradient(bottom,#c5c3c3 60%,rgba(197,195,195,.15)) 1 100%;
    -o-border-image: -o-linear-gradient(bottom,#c5c3c3 60%,rgba(197,195,195,.15)) 1 100%;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 7px;
    position: absolute;
}