@font-face {
  font-family: 'UTMNeoSansIntel';
  src: url('../fonts/UTMNeoSansIntel.eot?#iefix') format('embedded-opentype'),  url('../fonts/UTMNeoSansIntel.woff') format('woff'), url('../fonts/UTMNeoSansIntel.ttf')  format('truetype'), url('../fonts/UTMNeoSansIntel.svg#UTMNeoSansIntel') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'UTMNeoSansIntelBold';
  src: url('../fonts/UTMNeoSansIntelBold.eot?#iefix') format('embedded-opentype'),  url('../fonts/UTMNeoSansIntelBold.woff') format('woff'), url('../fonts/UTMNeoSansIntelBold.ttf')  format('truetype'), url('../fonts/UTMNeoSansIntelBold.svg#UTMNeoSansIntelBold') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'RobotoSlab-Bold';
  src: url('../fonts/RobotoSlab-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/RobotoSlab-Bold.woff') format('woff'), url('../fonts/RobotoSlab-Bold.ttf')  format('truetype'), url('../fonts/RobotoSlab-Bold.svg#RobotoSlab-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoSlab-Regular';
  src: url('../fonts/RobotoSlab-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/RobotoSlab-Regular.woff') format('woff'), url('../fonts/RobotoSlab-Regular.ttf')  format('truetype'), url('../fonts/RobotoSlab-Regular.svg#RobotoSlab-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UTMAvo';
  src: url('../fonts/UTMAvo.eot?#iefix') format('embedded-opentype'),  url('../fonts/UTMAvo.woff') format('woff'), url('../fonts/UTMAvo.ttf')  format('truetype'), url('../fonts/UTMAvo.svg#UTMAvo') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UTMAvo-Italic';
  src: url('../fonts/UTMAvo-Italic.eot?#iefix') format('embedded-opentype'),  url('../fonts/UTMAvo-Italic.woff') format('woff'), url('../fonts/UTMAvo-Italic.ttf')  format('truetype'), url('../fonts/UTMAvo-Italic.svg#UTMAvo-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'UTMHanzel';
  src: url('../fonts/UTMHanzel.eot?#iefix') format('embedded-opentype'),  url('../fonts/UTMHanzel.woff') format('woff'), url('../fonts/UTMHanzel.ttf')  format('truetype'), url('../fonts/UTMHanzel.svg#UTMHanzel') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UTMMobifoneKT';
  src: url('../fonts/UTMMobifoneKT.eot?#iefix') format('embedded-opentype'),  url('../fonts/UTMMobifoneKT.woff') format('woff'), url('../fonts/UTMMobifoneKT.ttf')  format('truetype'), url('../fonts/UTMMobifoneKT.svg#UTMMobifoneKT') format('svg');
  font-weight: normal;
  font-style: normal;
}