.wrapper-QuenMatKhau {
    width: 755px;
    margin: auto;
    /* height: 516px; */
    background: #fff;
    margin-bottom: 20px;
    padding-bottom: 50px;
    margin-top: 20px;
}
@media screen and (max-width:755px){
    .wrapper-QuenMatKhau
    {
        width:100%;
    }
}



.wrapper-QuenMatKhau h1 {
    padding-top: 40px;
    text-align: center;
    background: transparent;
    font-family: UTMHanzel;
    padding-bottom: 111px;
    color: #004b97;
    font-size: 31.5px;
    text-transform: uppercase;
}

.Section {
    background: #f0f0f0;
}
.wrapper-QuenMatKhau Strong {
    background: transparent;
    color: #000;
}
.Bottom {
    width: 80%;
    margin: auto;
    text-align: left;
    background: transparent;
    font-family: RobotoSlab-Regular;
    font-size: 15px;
}

.Bottom input {
    float: left;
    margin-top: 68px;
    background: transparent;
    border: none;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    width: 100%;
    border-bottom-color: #cccccc;
    font-family: UTMNeoSansIntel;
    font-size: 17px;
}


.Bottom input[type="submit"] {
    float: left;
    width: 218px;
    height: 30px;
    background: #004b97;
    color: white;
    font-family: UTMHanzel;
    margin-top: 53px;
    font-size: 17px;
}

.Bottom strong {
    color: #004b97;
}