.pushmenu {
    background: #fbfaf5;
    /*font-family: OpenSans;*/
    width: 240px;
    height: auto;
    z-index: 1000;
    position: fixed;
    top: 110px;
    left: -250px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;

    box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75);
}

.pushmenu h3 {
    color: #fefdfd;
    font-weight: bold;
    padding: 6px 20px;
    margin: 0;
    background: #004b98;
    font-family: UTMAvoBold;
    line-height: normal;
}

#nav_list {
    background: url(/Content/Images/icon/icon_nav2.png) no-repeat left top;
    cursor: pointer;
    height: 27px;
    width: 27px;
    text-indent: -99999em;
    margin: 6px 7px 10px;
}

div#nav_list.active {
    background-position: -29px top;
}

.buttonsetleft {
    height: 16px;
    display: block;
    float: right;
}

.sub_menu_mobile{
    padding:0;
    margin:0;
}

.xMMenu-wrap {
    float: left;
    overflow: hidden;
    height: 40px;
    width: 100%;
    margin-top: 12px;
}

.xMMenu-Top {
    width: 100%;
    overflow: visible;
    padding-left: 0px;
}

.xMMenu-wrap-left {
    height: 40px;
    position: fixed;
    background: #004b98;
    width: 40px;
    top: 124px;
    left:0;
    z-index: 100;
    display: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.xMMenu-wrap-left-toogle {
    position: fixed;
    width: 280px;
}
.xMMenu-wrap-left-toogle .pushmenu{
    left:0;
}

/* custome css*/
@media only screen and (max-width:768px) {
    .xMMenu-wrap-left  {
        display: block;
    }
}

.pushmenu ul{
    padding-left:10px;
    margin-bottom:0;
}
.pushmenu > ul{
    overflow-y:scroll; 
    padding-left:0px;   
    max-height:350px;
}

.pushmenu > ul ul{
    /*background-color: rgba(172,209,233,0.45);*/
}
.pushmenu ul li{
    list-style: none;
}
.pushmenu ul li.active > a i:before{
    transform: rotate(90deg);
}

.pushmenu ul li span{
    width: 92%;
    padding: 7px 0px 7px 10px;
}
.pushmenu a {
    display: block;
    color: #434040;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
   
    list-style: none;
    /*font-family: OpenSans;*/
    display: flex;
}
.pushmenu > ul > li >a {
    border-top: 1px solid #D6D5D1;
    border-bottom: 1px solid #A7A6A4;
}
.pushmenu a i{
    display:flex;
    margin: auto;
}

.pushmenu a:hover {
    background: #9CD0E4;
}
.pushmenu a.select{
    background: #9CD0E4;
}
.pushmenu a.active {
    background: #09539D;
    color: #fff;
    display: block;
}
.pushmenu li a.selected span{
    color: #ffcc00;
}