
 .no_padding{
        padding-right:0 !important;
    }
.Section {
    background: #f0f0f0;

}
.wrapper-DangKyThanhVien .field-validation-error {
    width: 100%;
    float: left;
}
.right a {
    color: #fff !important;
}
    .g-recaptcha {
    float: left;
    height: auto;
    margin-top: 30px;
    width : 100% !important;
    max-width: 304px;
}
     .g-recaptcha > div{
  
width : 100% !important;
  
max-width: 304px;
}
.custom_select_arrow{
    float:left;
    width:100%;
    position:relative;
}
.custom_select
{
    float:left;
    width: 33%;
    padding-right: 5%;
    /* margin-bottom: 50px; */
    margin-top: 50px;
}
.custom_select_gender{
 float:left;
 width:100%;
 /* margin-bottom: 50px; */
 margin-top: 50px;
}
.custom_select_gender select{
   border:none;
   background-color:transparent;
   width:100%;
   -webkit-appearance: none;
   -moz-appearance: none;
}
.custom_select select{
   border:none;
   background-color:transparent;
   width:100%;
   -webkit-appearance: none;
   -moz-appearance: none;
}
.custom_select select::-ms-expand {
    display: none;
}
.custom_select_arrow:after{
 position:absolute;
 content:"\f107";
 display:inline-block;
 box-sizing:border-box;
 color:#333333;
 background-color:transparent;
 margin-left:-17px;   /* remove the damn :after space */
 pointer-events:none; /* let the click pass trough */
 font-family:FontAwesome;
 font-size:20px;
 /* top:0; */
 right:0;
 bottom: 0;
 vertical-align: bottom;
 padding: 0;
 margin: 0;
 display: table-cell;
 height: 100%;
 vertical-align: bottom;
}
.text_bottom_register{
    float:left;
}
.col100{
    width:100% !important;
}
.wrapper-DangKyThanhVien {
    width: 80%;
    margin: auto;
    text-align: center;
        padding-bottom: 5%;
}

.wrapper-DangKy {
    background: #ffffff;
    /* min-height: 1500px; */
    width: 755px;
    margin: auto;
    padding-top: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.register-top {
    background: #fff;
    color: #1e5790;
    font-family: UTMHanzel;
    font-size: 20pt;
        margin-bottom: 15px;
}

.register-bottom-left {
        float: left;
    width: 30%;
    height: 30px;
    background-color: #1e5790;
    position: relative;
    display: block;
}

.register-bottom-right {
   float: right;
    width: 65.5%;
    height: 30px;
    background-color: #484848;
    position: relative;
}

.Register {
    font-family: UTMHanzel;
}


.wrraper {
    width: 80%;
    margin: auto;
    background: #fff;
    text-align: center;
}


.register-top {
    color: #1e5790;
    font-family: UTMHanzel;
    font-size: 31px;
    text-transform: uppercase;
}

.register-bottom-left {
    width: 223px;
    float: left;
    text-align: right;
    background: #1e5790;
    color: #fff;
    position: relative;
    font-size: 15px;
    height: auto;
}

.register-bottom-right {
    float: left;
    /* float: right; */
    background: #000000;
    color: #fff;
    margin-left: 6%;
    position: relative;
    width: 227px;
    padding-left: 0px;
    font-size: 15px;
        line-height: 22.64px;
}

.Register {
    font-family: UTMHanzel;
    font-size: 12pt;
    position: relative;
}

.register-bottom {
    margin: auto;
    width: 100%;
    text-transform: uppercase;
    float: left;
        text-align: left;
}

.ThongTinTK {
    float: left;
    max-height: 377px;
    float: left;
    font-family: UTMHanzel;
    margin-top: 35px;
    text-align: left;
    width: 100%;
    font-size: 13.5px;
    text-transform: uppercase;
}

    .ThongTinTK input {
        width: 100%;
        float: left;
        margin-top: 50px;
        font-family: UTMNeoSansIntel;
        border: none;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        position: relative;
        border-bottom-color: #cccccc;
        /* top: 0px; */
        font-size: 15px;
        /* color: red; */
    }

.ThongTinCaNhan {
    float: left;
    float: left;
    font-family: UTMHanzel;
    margin-top: 35px;
    text-align: left;
    width: 100%;
    font-size: 13.5px;
    text-transform: uppercase;
    padding-bottom: 20px;
}

    .ThongTinCaNhan input {
        width: 100%;
        float: left;
        margin-top: 50px;
        border: none;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        position: relative;
        border-bottom-color: #cccccc;
        font-family: UTMNeoSansIntel;
        font-size: 15px;
    }

.Ngaythangnamsinh {
    float: left;
    width: 100%;
}

.ThongTinCaNhan select {
    width: 100%;
    float: left;
    /* margin-top: 50px; */
    background: #fff;
    border: none;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    position: relative;
    border-bottom-color: #cccccc;
    font-family: UTMNeoSansIntel;
    color: #a9a9a9;
    margin-right: 2%;
    color: #666;
    position: relative;
}
.ThongTinCaNhan select:after{
 position:absolute;
 content:"\f107";
 display:inline-block;
 box-sizing:border-box;
 color:#ffffff;
 background-color:transparent;
 margin-left:-17px;   /* remove the damn :after space */
 pointer-events:none; /* let the click pass trough */
 font-family:FontAwesome;
 font-size:20px;
 /* top:0; */
 right:0;
 bottom: 0;
 vertical-align: bottom;
 padding: 0;
 margin: 0;
}

.ThongTinCaNhan select#RegisterViewModel_Gender  {
    width: 100%;
    float: left;
    margin-top: 50px;
    background: #fff;
    border: none;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    position: relative;
    border-bottom-color: #cccccc;
    font-family: UTMNeoSansIntel;
    color: #a9a9a9;
    display: block;
    /* margin-right: 50%; */
}


/*.ThongTinCaNhan span {
    float: left;
    margin-top: 35px;
    background: transparent;
}*/

.ThongTinCaNhan input[type="submit"] {
    float: left;
    margin-top: 35px;
    background: #1e5790;
    color: #fff;
    font-family: UTMHanzel;
    border: none;
    width: 65%;
    font-size: 17px;
}

.Ngaythangnamsinh select {
    background: #fff;
    width: 20%;
    margin-left: 31px;
}

.left-content {
    float: left;
    width: 41%;
    margin-bottom: 20px;
}

select {
}

.gioitinh {
    width: 100%;
}

    .gioitinh select {
        width: 20%;
    }

select {
}

.gioitinh {
    width: 100%;
}

    .gioitinh select {
        width: 20%;
        font-size: 15px;
    }

.ThongTinCaNhan p {
    float: left;
    background: transparent;
    font-size: 13.5px;
    text-transform: none;
    /* width: 88%; */
    margin-bottom: 50px;
}

    .ThongTinCaNhan p strong {
        color: #1e5790;
    }

.left-content img {
    float: left;
    margin-top: 35px;
}

.Register .register-bottom .register-bottom-right:before {
    content: "";
    width: 14px;
    float: left;
    position: absolute;
    left: -25px;
    color: transparent;
    border-top: 30px solid;
    border-left: 26px solid transparent;
    color: #484848;
    z-index: 1000;
    margin-left: 0px;
    margin-top: 0px;
    box-sizing: border-box;
}

.Register .register-bottom .register-bottom-left:after {
    content: "";
    width: 0;
    height: 1px;
    border-style: solid;
    border-width: 21.64px 0 0 20px;
    border-color: transparent transparent transparent #004b97;
    position: absolute;
    left: 100%;
    top: 0;
}

/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
/* close commented backslash hack */

.Ngaythangnamsinh select:first-child {
    margin-left: 0px;
}

@media screen and (max-width:755px) {
    .wrapper-DangKy {
        width: 100%;
    }
}
body {
    margin: 0px;
}
@media screen and (max-width:640px) {
   
    .register-top
    {
        font-size : 18px;
    }
    .ThongTinTK
    {
        margin-top : 0;
        padding-bottom : 20px;
        max-height : 377px;
    }
    .ThongTinTK input
    {
        margin-top : 10px;
        margin-bottom: 10px;
    }
    .ThongTinCaNhan
    {
        margin-top : 0;
    }

    .ThongTinCaNhan select 
    {
        margin-top : 10px;
    }
     .ThongTinCaNhan input 
    {
        margin-top : 10px;
        margin-bottom: 10px;
    }
    .custom_select_gender , .custom_select
    {
        margin-top : 10px;
    }
   
}
@media screen and (max-width:480px) {
    .no_padding_month{
        padding-right:0;
    }
    .custom_select
    {
        width : 50%;
    }
}
.header-background {
  
    box-shadow: 0px 2px 15px 5px #bababa;
    /* background-color: white; */
    border-bottom: 1px solid #fff;
}